#container{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    font-size: 1.5rem;
    background-color: hsl(180, 67%, 29%);
    border: none;
    border-radius: 10px;
    padding: 10p 15px;
    font-weight: bold;
    color:white;
    cursor: pointer;
}
 button:hover{
    background-color: hsl(180, 67%, 49%);
 }
 input{
    font-size: 2rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
 }
 #container img{
    margin: 10px;
    width: 100px;
    height: 100px;
 }
  #result{

 margin: 10px;
 }